* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #c1dddb;
  background-image: url(../imgs/background.svg);
  background-position: bottom;
  background-repeat: repeat-x;
  /* Medium devices (landscape tablets, 768px and up) */
  /* Large devices */
}
@media only screen and (max-width: 768px) {
  body {
    background-size: 2560px 25%;
  }
}
@media only screen and (min-width: 769px) {
  body {
    background-size: 2560px 45%;
  }
}

h1, h2, h3, h4, footer, .menu-mundos {
  font-family: "Nunito", sans-serif;
}

.contenido h2 {
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
}

button.btn.btn-dark.contacto {
  background-color: #e875a8;
  border: 0;
}
button.btn.btn-dark.contacto:hover {
  background-color: #61b3c3;
}

/* Menu superior */
.menu-mundos a, .menu-mundos button {
  margin: 5px;
  border: 1px solid #e875a8;
  background-color: #e875a8;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 1px 4px 0 #8f8f8f;
}
.menu-mundos a:hover, .menu-mundos button:hover {
  border: 1px solid #e7629e;
  background-color: #e7629e;
}

/* Cabezal */
header {
  background-size: cover;
  box-shadow: 0 6px 10px -1px rgba(118, 117, 116, 0.52);
  text-align: center;
  min-height: 340px;
}
header .lagrimas-magicas {
  width: 100%;
  height: 100%;
  padding: 20px;
  background: radial-gradient(circle, rgba(255, 255, 255, 0), rgb(255, 255, 255));
  animation: fadeOut 750ms 1 forwards;
}
@keyframes fadeOut {
  0% {
    background: radial-gradient(circle, rgba(255, 255, 255, 0), rgb(255, 255, 255));
  }
  50% {
    background: radial-gradient(circle, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
  }
  100% {
    background: radial-gradient(circle, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  }
}
header.bahia_tutifruti {
  background-image: url("https://res.cloudinary.com/dtzjprlln/image/upload/v1720046743/bghhjfwoicmt9pq5rwhh.png");
  background-position: 50% 80%;
}
header.valle_biberon {
  background-image: url("https://res.cloudinary.com/dtzjprlln/image/upload/v1720046745/fsajzcmuqxazi5rtfle0.png");
  background-position: 50%;
}
header.montana_fantasy {
  background-image: url("https://res.cloudinary.com/dtzjprlln/image/upload/v1720046746/maik4smtpnxxnpu8fkog.png");
  background-position: 50% 80%;
}
header.bosque_algodon {
  background-image: url("https://res.cloudinary.com/dtzjprlln/image/upload/v1720046742/brnbnrvp5mrc8dllcuzu.jpg");
  background-position: 50% 20%;
}
header.storyland {
  background-image: url("https://res.cloudinary.com/dtzjprlln/image/upload/v1720046743/dssmrfabxpmj8svx0ga1.jpg");
  background-position: 50% 20%;
}
header h1 {
  margin-top: 50px;
  font-size: 40px;
  font-weight: 900;
  color: #fff;
  text-shadow: #61b3c3 5px 0px 0px, #61b3c3 4.90033px 0.993347px 0px, #61b3c3 4.60531px 1.94709px 0px, #61b3c3 4.12668px 2.82321px 0px, #61b3c3 3.48353px 3.58678px 0px, #61b3c3 2.70151px 4.20736px 0px, #61b3c3 1.81179px 4.6602px 0px, #61b3c3 0.849836px 4.92725px 0px, #61b3c3 -0.145998px 4.99787px 0px, #61b3c3 -1.13601px 4.86924px 0px, #61b3c3 -2.08073px 4.54649px 0px, #61b3c3 -2.94251px 4.04248px 0px, #61b3c3 -3.68697px 3.37732px 0px, #61b3c3 -4.28444px 2.57751px 0px, #61b3c3 -4.71111px 1.67494px 0px, #61b3c3 -4.94996px 0.7056px 0px, #61b3c3 -4.99147px -0.291871px 0px, #61b3c3 -4.83399px -1.27771px 0px, #61b3c3 -4.48379px -2.2126px 0px, #61b3c3 -3.95484px -3.05929px 0px, #61b3c3 -3.26822px -3.78401px 0px, #61b3c3 -2.4513px -4.35788px 0px, #61b3c3 -1.53666px -4.75801px 0px, #61b3c3 -0.560763px -4.96845px 0px, #61b3c3 0.437495px -4.98082px 0px, #61b3c3 1.41831px -4.79462px 0px, #61b3c3 2.34258px -4.41727px 0px, #61b3c3 3.17346px -3.86382px 0px, #61b3c3 3.87783px -3.15633px 0px, #61b3c3 4.4276px -2.32301px 0px, #61b3c3 4.80085px -1.39708px 0px, #61b3c3 4.98271px -0.415447px 0px;
}
header h3 {
  font-size: 20px;
  font-weight: 800;
  color: #fff;
}
header .logo img {
  width: 250px;
  transition: all 1s;
}
header .logo img:hover {
  transform: scale(1.05);
}

.personajes .card {
  background-color: transparent;
  border: 0;
}
.personajes .card .card-img-personaje {
  height: 340px;
}
.personajes .card .card-img-personaje img {
  align-self: flex-end;
}
.personajes .card .card-img-personaje img#dotie, .personajes .card .card-img-personaje img#glam, .personajes .card .card-img-personaje img#lem {
  max-width: 220px;
  max-height: auto;
}
.personajes .card .card-img-personaje img#lady {
  max-width: 155px;
  max-height: auto;
}
.personajes .card .card-img-personaje img#conie {
  max-width: 182px;
  max-height: auto;
}
.personajes .card .card-img-personaje img#dreamy, .personajes .card .card-img-personaje img#fancy {
  max-width: 170px;
  max-height: auto;
}
.personajes .card .card-img-personaje img#rosie {
  max-width: 185px;
  max-height: auto;
}
.personajes .card .card-img-personaje img#tina {
  max-width: 250px;
  max-height: auto;
}
.personajes .card .card-img-personaje img#jiry, .personajes .card .card-img-personaje img#lala, .personajes .card .card-img-personaje img#caperucita, .personajes .card .card-img-personaje img#cerdito {
  max-width: 230px;
  max-height: 340px;
}
.personajes .card .card-img-personaje img#alice, .personajes .card .card-img-personaje img#ella {
  max-width: 205px;
  max-height: 360px;
}
.personajes .card .card-img-personaje .d-flex {
  display: flex;
  align-items: flex-end;
}
.personajes h2 {
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 30px;
}
.personajes .card-body h4 {
  text-align: center;
  font-size: 150%;
  margin-top: 10px;
  font-weight: 900;
  text-shadow: #e875a8 5px 0px 0px, #e875a8 4.90033px 0.993347px 0px, #e875a8 4.60531px 1.94709px 0px, #e875a8 4.12668px 2.82321px 0px, #e875a8 3.48353px 3.58678px 0px, #e875a8 2.70151px 4.20736px 0px, #e875a8 1.81179px 4.6602px 0px, #e875a8 0.849836px 4.92725px 0px, #e875a8 -0.145998px 4.99787px 0px, #e875a8 -1.13601px 4.86924px 0px, #e875a8 -2.08073px 4.54649px 0px, #e875a8 -2.94251px 4.04248px 0px, #e875a8 -3.68697px 3.37732px 0px, #e875a8 -4.28444px 2.57751px 0px, #e875a8 -4.71111px 1.67494px 0px, #e875a8 -4.94996px 0.7056px 0px, #e875a8 -4.99147px -0.291871px 0px, #e875a8 -4.83399px -1.27771px 0px, #e875a8 -4.48379px -2.2126px 0px, #e875a8 -3.95484px -3.05929px 0px, #e875a8 -3.26822px -3.78401px 0px, #e875a8 -2.4513px -4.35788px 0px, #e875a8 -1.53666px -4.75801px 0px, #e875a8 -0.560763px -4.96845px 0px, #e875a8 0.437495px -4.98082px 0px, #e875a8 1.41831px -4.79462px 0px, #e875a8 2.34258px -4.41727px 0px, #e875a8 3.17346px -3.86382px 0px, #e875a8 3.87783px -3.15633px 0px, #e875a8 4.4276px -2.32301px 0px, #e875a8 4.80085px -1.39708px 0px, #e875a8 4.98271px -0.415447px 0px;
  color: #fff;
}
.personajes .card-body .text-justify {
  text-align: justify;
}
.personajes .card-body .contacto {
  background-color: #e875a8;
  border: 0;
  font-weight: bold;
}
.personajes .card-body .contacto:hover {
  background-color: #61b3c3;
}

footer {
  border-top: 13px solid #ff3c8f;
  background: rgb(232, 177, 204);
  background-image: url(../imgs/lagrimas.png), linear-gradient(0deg, rgb(232, 177, 204) 0%, rgb(238, 198, 219) 100%);
  background-size: 75px;
  margin-top: 80px;
  height: 160px;
  text-align: center;
  padding: 30px 0;
  font-size: 18px;
  font-weight: 800;
}
footer .ico-redes {
  font-size: 1.5rem;
  margin: 5px;
}
footer a {
  color: #ff3c8f;
}
footer a:hover {
  color: #e7629e;
}

/*# sourceMappingURL=style.css.map */
