* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #c1dddb;
    background-image: url(../imgs/background.svg);
    background-position: bottom;
    background-repeat: repeat-x;
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (max-width: 768px) {
        background-size: 2560px 25%;    
    }

    /* Large devices */
    @media only screen and (min-width: 769px) {
        background-size: 2560px 45%;
    }
}
h1, h2, h3, h4, footer,.menu-mundos {
    font-family: "Nunito", sans-serif;
}
.contenido{
    h2 {
        font-size: 32px;
        font-weight: 800;
        text-transform: uppercase;
    }
}
button.btn.btn-dark.contacto{
    background-color: $color-rosa;
    border: 0;
    &:hover{
        background-color: $color-verdeagua;
    }
}
.vid-youtube{
    width: 100%;
    min-width: 400px;
    max-width: 800px;
    div{
        position: relative;
        width: 100%;
        overflow: hidden;
        padding-top: 56.25%;
    }
}
    