footer {
    border-top: 13px solid #ff3c8f;
    background: rgb(232, 177, 204);
    background-image: url(../imgs/lagrimas.png), linear-gradient(0deg, rgba(232, 177, 204, 1) 0%, rgba(238, 198, 219, 1) 100%);
    background-size: 75px;
    margin-top: 80px;
    height: 160px;
    text-align: center;
    padding: 30px 0;
    font-size: 18px;
    font-weight: 800;
    .ico-redes{
        font-size: 1.5rem;
        margin: 5px;
    }
    a {
        color: $color-rosa-oscuro;
        &:hover{
            color: $color-rosa-claro;
        }
    }
}