@mixin size($max-width, $max-height){
    max-width: $max-width;
    max-height: $max-height;
}
.personajes{
    .card {
        background-color: transparent;
        border: 0;
        .card-img-personaje {
            height: 340px;
            img {
                align-self: flex-end;
                &#dotie,
                &#glam,
                &#lem {
                    @include size(220px, auto);
                }
                
                &#lady {
                    @include size(155px, auto);
                }
                
                &#conie {
                    @include size(182px, auto);
                }
                
                &#dreamy,
                &#fancy {
                    @include size(170px, auto);
                }
                
                &#rosie {
                    @include size(185px, auto);
                }
                
                &#tina {
                    @include size(250px, auto);
                }
                
                &#jiry,
                &#lala,
                &#caperucita,
                &#cerdito {
                    @include size(230px, 340px);
                }
                
                &#alice,
                &#ella {
                    @include size(205px,360px);
                }
            }
            .d-flex {
                display: flex;
                align-items: flex-end;
            }
        }
    }
    h2 {
        font-size: 28px;
        font-weight: 900;
        margin-bottom: 30px;
    }
    .card-body{
        h4 {
            text-align: center;
            font-size: 150%;
            margin-top: 10px;
            font-weight: 900;
            text-shadow: #e875a8 5px 0px 0px, #e875a8 4.90033px 0.993347px 0px, #e875a8 4.60531px 1.94709px 0px, #e875a8 4.12668px 2.82321px 0px, #e875a8 3.48353px 3.58678px 0px, #e875a8 2.70151px 4.20736px 0px, #e875a8 1.81179px 4.6602px 0px, #e875a8 0.849836px 4.92725px 0px, #e875a8 -0.145998px 4.99787px 0px, #e875a8 -1.13601px 4.86924px 0px, #e875a8 -2.08073px 4.54649px 0px, #e875a8 -2.94251px 4.04248px 0px, #e875a8 -3.68697px 3.37732px 0px, #e875a8 -4.28444px 2.57751px 0px, #e875a8 -4.71111px 1.67494px 0px, #e875a8 -4.94996px 0.7056px 0px, #e875a8 -4.99147px -0.291871px 0px, #e875a8 -4.83399px -1.27771px 0px, #e875a8 -4.48379px -2.2126px 0px, #e875a8 -3.95484px -3.05929px 0px, #e875a8 -3.26822px -3.78401px 0px, #e875a8 -2.4513px -4.35788px 0px, #e875a8 -1.53666px -4.75801px 0px, #e875a8 -0.560763px -4.96845px 0px, #e875a8 0.437495px -4.98082px 0px, #e875a8 1.41831px -4.79462px 0px, #e875a8 2.34258px -4.41727px 0px, #e875a8 3.17346px -3.86382px 0px, #e875a8 3.87783px -3.15633px 0px, #e875a8 4.4276px -2.32301px 0px, #e875a8 4.80085px -1.39708px 0px, #e875a8 4.98271px -0.415447px 0px;
            color: #fff;
        }
    } 
}
 



